{% extends "base.html" %}

{% block content %}
<h1>Orders</h1>
{% for order in orders %}
<p>
    <span>Order ID: <a href="{{ url_for('html.order_detail', order_id=order.id) }}">{{ order.id }}</a></span><br>
    <span>Customer ID: {{ order.customer_id }}</span><br>
    <span>Created: {{ order.created }}</span><br>
    <span>Processed: {{ order.processed }}</span><br>
    <span>Total: {{ order.total }}</span><br>
    <ul>
        {% for item in order.items %}
        <li>{{ item.name }} (Quantity: {{ item.quantity }})</li>
        {% endfor %}
    </ul>
    <hr>
</p>
{% endfor %}
{% endblock %}
