{% extends "base.html" %}

{% block content %}
<h1>Order Detail</h1>

<p>Order ID: {{ order.id }}</p>
<p>Customer Name: {{ order.customer.name }}</p>
<p>Customer Id: {{ order.customer.id }}</p>
<p>Created: {{ order.created }}</p>
<p>Processed: {{ order.processed }}</p>
<p>Total: {{ order.total }}</p>

<h2>Products</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity Ordered</th>
    <th>Quantity Available</th>
  </tr>
  {% for item in order.items %}
  <tr>
    <td>{{ item.product.name }}</td>
    <td>{{ item.product.price }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.product.available }}</td>
  </tr>
  {% endfor %}
</table>

<p>Estimated Total: {{ estimated_total }}</p>

<!-- Form for deleting the order -->

{% if not order.processed %}
<form action="{{ url_for('html.order_delete_web', order_id=order.id) }}" method="post">
    <button type="submit">Delete Order</button>
</form>

<form action="{{ url_for('html.order_process_web', order_id=order.id) }}" method="post">
    <button type="submit">Process</button>
</form>
 {% endif %}
{% endblock %}
